@media (max-width: 767px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .quantity {
        font-size: 28px;
        text-align: center;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }
    .details-btn{
        font-size: 14px;
    }

    .card img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}





#head-nv{
    text-align: center;
    background-blend-mode: 0.4;
}

#title{
  color:#2D0C57;
}

#home-main{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#profile-img{
    border-radius: 15%;
    height: 300px;
}

#home-contact{
    font-size:20px;
}

.navbar{
    background-color: #0BCE83;
}



.item-search-li{
    font-size:20px;
}

.add-btn{
    font-size:18px;
}


.card-color{
    background-color: #90EE90;
}

.trash{
    font-size: 30px;
}

.modal {
    z-index: 1050; /* Adjust the z-index as needed to ensure it appears above other elements */
}

.modal-backdrop {
    z-index: 1040; /* Adjust the z-index for the backdrop as needed */
}

.create-list-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 500;
}

.create-list-button button {
    background-color: #0BCE83;
    font-size: 24px;
    padding: 16px 24px;
}


.list-table{
    margin-top:50px;
    padding-top: 100px;
}


.strikethrough {
    text-decoration: line-through;
  }